@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;800&family=Noto+Sans:ital,wght@0,400;0,600;0,700;0,800;1,600&family=Ubuntu+Condensed&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap");

html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mukta", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url("./images/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  /* background-attachment: ; */
  
  /* border: 1px solid red; */
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  /* border: 1px solid green; */
}
.home-container {
  background-image: url("./images/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

nav {
  position: fixed;
  margin-top: 1rem;
  min-width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.logo-line {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-left: 5rem;
  align-items: center;
  /* border: 1px solid red; */
}
.logo {
  width: 4rem;
}
.menu {
  align-self: center;
  background-color: transparent;
  display: none;
}
.line {
  width: 70%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.396);

  margin-right: -30px;
  z-index: 50;
}

.nav-lists {
  background-color: rgba(78, 81, 84, 0.362);
  backdrop-filter: blur(5px);
  min-width: 690px;
  padding-left: 5rem;
  display: flex;
  justify-content: flex-start;
}
.nav-lists .nav-list {
  display: inline-block;
  padding: 1.5rem 0;
  margin: 0 3%;
  position: relative;
}
.nav-list a:hover::after {
  content: "";
  position: absolute;
  transition: all 1s;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.514);
}
.nav-lists .nav-list a {
  background-color: transparent;
  padding: 1.5rem 0rem;
  text-decoration: none;
  font-weight: 500;
  color: white;
  font-size: large;
}

.visited::after {
  content: "";
  position: absolute;
  transition: all 1s;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 3px;
  background-color: rgb(255, 255, 255);
}

/* Header for all pages */

/* home-page */

/* homepage-content */
.space-travel {
  margin-top: 15rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}
.space-content {
  width: 50%;
}
.space-content p {
  font-size: 16px;
  width: 90%;
  opacity: 0.7;
}

.big-text {
  font-size: 12vh;
  margin: 0;
  font-weight: 500;
}
.space-content h2 {
  width: 100%;
  font-weight: lighter;
  font-size: 18px;
  opacity: 0.6;
}

/*  */
.explore {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.circle {
  width: 13rem;

  background-color: white;
  height: 13rem;
  color: black;
  text-align: center;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  border-radius: 150rem;
  padding: 2rem;
  font-size: large;
  cursor: pointer;
}

.circle:hover {
  transition: all 2s;
  animation-name: outline;
  animation-duration: 3s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}
@keyframes outline {
  0% {
    outline: 0rem solid rgba(255, 255, 255, 0.464);
  }
  50% {
    outline: 5rem solid rgba(255, 255, 255, 0.464);
  }
  100% {
    outline: 0rem solid rgba(255, 255, 255, 0.156);
  }
}
/*  */



/* destination page */

.destination--container {
  background-image: url("./images/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 110vh;
}
.moons-distance {
  display: flex;
  justify-content: space-between;
  width: 88%;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.moon-pics {
  width: 50%;
  color: white;
}
.moon-pics img {
  width: 65%;
  text-align: center;
}
.moon-tabs {
  width: 45%;
  /* border: 1px solid red; */
  color: white;
  display: flex;
  flex-direction: column;
}
.tabs {
  width: 100%;
}
.tabs button {
  margin: 0.7rem;
  padding: 0.5rem;
  color: white;
  background-color: transparent;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.tabs button:hover {
  border-bottom: 2px solid white;
}
.tabs .active {
  border-bottom: 2px solid rgba(255, 255, 255, 0.579);
}
.destination-tab {
  width: 90%;
  padding-left: 0.7rem;
  /* text-align: left; */
}
.destination-tab h1 {
  font-size: 13vh;
  width: 80%;
  margin: 0;
  font-weight: 500;
  text-align: left;
}
.destination-tab p {
  margin: 2rem 0;
  width: 90%;
  /* padding-left: 0.7rem; */
}
.destination-tab .h-line {
  width: 95%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.264);
  border: none;
}
.avg-est {
  width: 100%;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.avg-est h4 {
  font-weight: 600;
  font-size: small;
  opacity: 0.7;
}
.avg-est .span {
  font-size: 3.5vh;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

/* ---------- */
.crew-container {
  background-image: url("./assets/crew/background-crew-desktop.jpg");
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.engr-btn {
  width: 80%;
  height: 100%;
  position: relative;
  margin-top: 8rem;
}
.engineers {
  /* border: 1px solid white; */
  padding: 0.5rem;
  display: flex;
  height: 100%;
  color: white;
  padding-top: 0.6rem;
}
.eng-description {
  width: 50%;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 12rem; */
}
.eng-title {
  font-size: 4vh;
  font-weight: 100;
  /* opacity: 0.6; */
  color: rgb(181, 193, 203);
  margin: 0.4rem 0;
  margin-top: 2.5rem;
}
.eng-name {
  font-size: 6vh;
  font-weight: 100;
  margin: 1.3rem 0;
}
.eng-desc {
  width: 75%;
}
.eng-btn {
  margin-top: 4rem;
  /* position: absolute; */
  margin-bottom: 21vh;
  bottom: 0;
}
.eng-img {
  width: 50%;
  height: 100%;
  z-index: 1;
}
.eng-img img {
  width: 370px;
  position: absolute;
  height: 80%;
  right: 0.4rem;
  bottom: 0;
}
.btn {
  margin: 0.3rem;
  padding: 0.7rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.btn:hover {
  background-color: burlywood;
}
.active-btn {
  background-color: burlywood;
}

/* .tech-container{

} */
/* ========= */

.tech-body {
  background-image: url("./assets/technology/background-technology-desktop.jpg");
  background-size: cover;

  /* border: 2px solid red; */
}

.tech-content {
  /* border: 1px solid; */
  color: white;
  margin-top: 9rem;
  width: 95%;
  /* border: 2px solid yellow; */
}
.launch-btn-img {
  display: flex;
  width: 95%;
  align-items: center;
  justify-content: center;
}
.btn-launch {
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
  align-items: center;
}
.btn-tabs {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.launch-btn {
  padding: 1.8rem;
  margin: 1rem 0.8rem;
  font-size: larger;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: 1px solid white;
}
.launch-btn:hover {
  background-color: white;
  color: black;
}
.active-launc {
  background-color: white;
  color: black;
}
.launch {
  width: 60%;
}
.launch .terminology {
  font-size: 1.1rem;
  font-weight: 200;
  color: rgba(240, 248, 255, 0.467);
}
.launch h1 {
  font-size: 6vh;
  font-weight: 300;
}
.rocket-img {
  width: 40%;
}
.rocket-img img {
  width: 440px;
}
/*  */
/* .dive {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 0.2rem solid white;
  border-left: 0.2rem solid red;
  animation-name: roller;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes roller {
 
  100% {
    transform: rotate(360deg);
  }
} */

@media all and (min-width: 650px) and (max-width: 950px) {
  body {
    height: auto;
    background-image: url("./images/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
  }
  .home-container {
    /* background-image: url("./images/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    height: auto;
  }
  nav {
    position: static;
    top: 0.5rem;
    min-width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .logo-line {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-left: 1rem;
    align-items: center;
    /* border: 1px solid red; */
  }
  .logo {
    width: 4rem;
  }
  .line {
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.396);

    margin-right: -30px;
    z-index: 50;
  }

  .nav-lists {
    background-color: rgba(78, 81, 84, 0.362);
    backdrop-filter: blur(5px);
    min-width: 650px;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
  }
  .nav-lists .nav-list {
    display: inline-block;
    padding: 1.8rem 0;
    margin: 0 16px;
    position: relative;
  }
  .nav-list a:hover::after {
    content: "";
    position: absolute;
    transition: all 1s;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.514);
  }
  .nav-lists .nav-list a {
    background-color: transparent;
    padding: 1.8rem 0rem;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: large;
  }

  /*  */

  /* homepage-content */
  .space-travel {
    margin-top: 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 1rem;
  }
  .space-content {
    width: 90%;
    text-align: center;
    /* order: 2; */
  }
  .space-content p {
    font-size: 19px;
    width: 100%;
    opacity: 1;
  }

  .big-text {
    font-size: 7vh;
    margin: 0;
    font-weight: 500;
  }
  .space-content h2 {
    width: 100%;
    font-weight: lighter;
    font-size: 18px;
    opacity: 1;
  }

  /*  */
  .explore {
    margin-top: 3rem;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .circle {
    width: 17rem;

    background-color: white;
    height: 17rem;
    color: black;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 150rem;
    padding: 2rem;
    font-size: large;
    cursor: pointer;
  }

  .circle:hover {
    transition: all 1s;
    animation-name: outline;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: backwards;
  }
  /* destination------- */
  .destination--container {
    background-image: url("./assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .moons-distance {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .moon-pics {
    width: 65%;
    color: white;
    text-align: center;
  }
  .moon-pics img {
    width: 80%;
    text-align: center;
  }
  .moon-tabs {
    width: 70%;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabs {
    width: 80%;
    align-self: center;
    text-align: center;
  }
  .tabs button {
    margin: 0.7rem;
    padding: 0.5rem;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .tabs button:hover {
    border-bottom: 2px solid white;
  }
  .tabs .active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.579);
  }
  .destination-tab {
    width: 90%;
    padding-left: 0.7rem;
    /* text-align: left; */
  }
  .destination-tab h1 {
    font-size: 13vh;
    width: 90%;
    margin: 0;
    font-weight: 500;
    text-align: center;
  }
  .destination-tab p {
    margin: 2rem 0;
    text-align: center;
    width: 90%;
    /* padding-left: 0.7rem; */
  }
  .destination-tab .h-line {
    width: 85%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.264);
    border: none;
  }
  .avg-est {
    width: 90%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .avg-est h4 {
    font-weight: 600;
    font-size: small;
    opacity: 0.7;
  }
  .avg-est .span {
    font-size: 3.5vh;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  /* ---------- */
  .crew-body {
    height: 90vh;
    background-image: url("./assets/crew/background-crew-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .crew-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-repeat: no-repeat;
  }
  .engr-btn {
    width: 80%;
    height: 100%;
    position: relative;
    margin-top: 3rem;
  }
  .engineers {
    margin-top: 1rem;
    /* border: 1px solid white; */
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    padding-top: 0.6rem;
  }
  .eng-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 12rem; */
  }
  .eng-title {
    font-size: 4vh;
    font-weight: 100;
    color: rgb(181, 193, 203);
    margin: 0.4rem 0;
    margin-top: 1.5rem;
  }
  .eng-name {
    font-size: 6vh;
    font-weight: 100;
    margin: 1.3rem 0;
  }
  .eng-desc {
    width: 85%;
    text-align: center;
  }
  .eng-btn {
    width: 30%;
    margin-left: -4rem;
    margin-top: 0rem;
    position: absolute;
    margin-bottom: 10rem;
    bottom: 0;
    left: 0;
    /* border: 1px solid white; */
  }
  .eng-img {
    width: 80%;
    height: 100%;
    /* z-index: 1; */

    text-align: center;
    margin: 0;
    margin-top: 1rem;
  }
  .eng-img img {
    width: 300px;
    position: static;
    height: 330px;
    right: 0.4rem;
    bottom: 0;
    margin: 0;
  }
  .btn {
    margin: 0.3rem;
    padding: 0.7rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    background-color: burlywood;
  }

  /* ----- */

  /* ========= */

  .tech-body {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
  }

  .tech-content {
    /* border: 1px solid white; */
    color: white;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .launch-btn-img {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
  }
  .btn-launch {
    display: flex;
    flex-direction: column;

    justify-content: center;
    width: 80%;
    align-items: center;
    /* border: 1px solid white; */
  }
  .btn-tabs {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .launch-btn {
    padding: 1.8rem;
    margin: 1rem 0.8rem;
    font-size: larger;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
  }
  .launch-btn:hover {
    background-color: white;
    color: black;
  }
  .active-launc {
    background-color: white;
    color: black;
  }
  .launch {
    width: 90%;
  }
  .launch .terminology {
    font-size: 1.5rem;
    font-weight: 200;
    margin-top: 2rem;
    color: rgba(240, 248, 255, 0.467);
  }
  .launch h1 {
    font-size: 6vh;
    font-weight: 300;
  }
  .rocket-img {
    margin-top: 2rem;
    width: 90%;
  }
  .rocket-img img {
    width: 90%;
    border-radius: 1rem;
  }
}
/* 


*/
@media all and (max-width: 650px) {
  body {
    font-family: "Noto Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-image: url("./images/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* border: 1px solid red; */
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    position: relative;
 
  }

  .home-container {
    height: auto;
  }
  nav {
    position: fixed;
    margin-top: 0.8rem;
    top: 1rem;
    min-width: 95%;
    /* border: 1px solid green; */

    padding: 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(100, 148, 237, 0.21);
    border-radius: 0.7rem;
  }

  .logo-line {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-left: 1rem;
    align-items: center;
    /* border: 1px solid red; */
  }
  .logo {
    width: 3rem;
  }
  .menu {
    align-self: center;
    background-color: transparent;
    padding: 0.5rem;
    display: block;
    border: none;
    z-index: 110;
    cursor: pointer;
  }
  .menu-none {
    display: none;
    z-index: 100;
  }
  .line {
    width: 70%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.396);
    margin-right: -30px;
    z-index: 50;
  }

  .nav-lists {
    background-color: rgb(91, 103, 111);
    backdrop-filter: blur(50px);
    min-width: auto;
    width: 60%;

    padding-left: 1rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: -15px;
    right: 0;
    height: 100vh;
    transition: all 1s;
    z-index: 99;
  }
  .translate {
    transition: all 1s;
    transform: translateX(100%);
  }
  .nav-lists .nav-list {
    display: block;
    padding: 1.5rem 0;
    margin: 0 3%;
    position: relative;
    z-index: 110;
  }
  .nav-list a:hover::after {
    content: "";
    position: absolute;
    transition: all 1s;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.514);
  }
  .nav-lists .nav-list a {
    z-index: 110;
    background-color: transparent;
    padding: 1.5rem 0rem;
    text-decoration: none;
    font-weight: 500;
    color: white;
    font-size: large;
  }

  /* homepage-content */
  .space-travel {
    margin-top: 8rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  .space-content {
    width: 90%;
    text-align: center;
    /* order: 2; */
  }
  .space-content p {
    font-size: 16px;
    width: 100%;
    opacity: 1;
  }

  .big-text {
    font-size: 7vh;
    margin: 0;
    font-weight: 500;
  }
  .space-content h2 {
    width: 100%;
    font-weight: lighter;
    font-size: 18px;
    opacity: 1;
  }

  /*  */
  .explore {
    margin-top: 3rem;

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 1rem; */
  }
  .circle {
    width: 15rem;

    background-color: white;
    height: 15rem;
    color: black;
    text-align: center;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 150rem;
    padding: 2rem;
    font-size: large;
    cursor: pointer;
  }

  /* destination */

  /* destination------- */
  .destination--container {
    background-image: url("./images/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .moons-distance {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-top: 8rem;
    margin-bottom: 3rem;
    flex-direction: column;
    align-items: center;
  }
  .moon-pics {
    width: 95%;
    color: white;
    text-align: center;
  }
  .moon-pics img {
    width: 80%;
    text-align: center;
  }
  .moon-tabs {
    width: 100%;
    margin-top: 2rem;
    /* border: 1px solid red; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tabs {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .tabs button {
    margin: 0.6rem;
    width: 25%;
    padding: 0.5rem;
    color: white;
    background-color: transparent;
    font-weight: bold;
    border: none;
    cursor: pointer;
    font-size: 17px;
  }
  .tabs button:hover {
    border-bottom: 2px solid white;
  }
  .tabs .active {
    border-bottom: 2px solid rgba(255, 255, 255, 0.579);
  }
  .destination-tab {
    width: 90%;
    padding-left: 0.7rem;
    /* text-align: left; */
  }
  .destination-tab h1 {
    font-size: 8vh;
    width: 90%;
    margin: 0;
    font-weight: 500;
    text-align: center;
    margin-top: 1rem;
  }
  .destination-tab p {
    margin: 2rem 0;
    width: 90%;
    text-align: center;
    padding: 0.6rem;
    /* padding-left: 0.7rem; */
  }
  .destination-tab .h-line {
    width: 90%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.264);
    border: none;
  }
  .avg-est {
    width: 90%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
  }
  .avg-est h4 {
    font-weight: 600;
    font-size: small;
    opacity: 0.7;
  }
  .avg-est .span {
    font-size: 3vh;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }

  /* ---------- */

  .crew-body {
    width: 100%;
    height: auto;
    background-image: url("./assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5px;
    padding: 0;
    margin: 0;
    z-index: -2;
  }
  .crew-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    margin: 0;
    border: 1px solid white;
    z-index: 0;
  }
  .engr-btn {
    width: 85%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    z-index: -1;
  }
  .engineers {
    margin-top: 0rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    padding-top: 0.6rem;
    width: 80%;
    z-index: -1;
  }
  .eng-description {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-bottom: 12rem; */
  }
  .eng-title {
    font-size: 3vh;
    font-weight: 100;
    color: rgb(181, 193, 203);
    margin: 0.4rem 0;
    margin-top: 2.5rem;
  }
  .eng-name {
    font-size: 5vh;
    font-weight: 100;
    margin: 1rem 0;
    text-align: center;
    width: 100%;
  }
  .eng-desc {
    width: 95%;
    text-align: center;
  }
  .eng-btn {
    width: 60%;
    height: 10%;
    margin-left: 0;
    margin-top: 0rem;
    position: absolute;
    margin-bottom: 0;
    bottom: 8rem;
    left: -4rem;
    transform: rotate(90deg);
    /* border: 1px solid white; */

    z-index: 10;
  }
  .eng-img {
    width: 80%;
    height: auto;
    z-index: 1;
    text-align: center;
    margin: 0;
    margin-top: 3rem;
    margin-left: 6rem;

    /* border: 1px solid white; */
  }
  .eng-img img {
    width: 200px;
    /* position: absolute; */
    position: static;
    right: 0;
    height: 270px;
    bottom: 0.5rem;
    margin: 0;
  }
  .btn {
    margin: 0.3rem;
    padding: 0.7rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
  }
  .btn:hover {
    background-color: burlywood;
  }
  .active-btn {
    background-color: burlywood;
  }
  /* ========= */
  .tech-body {
    background-image: url("./assets/technology/background-technology-tablet.jpg");
    padding: 1rem auto;
  }

  .tech-content {
    /* border: 1px solid; */
    color: white;
    margin-top: 7rem;
    width: 90%;
    text-align: center;

  }
  .launch-btn-img {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn-launch {
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  .btn-tabs {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .launch-btn {
    padding: 1.9rem;
    margin: 0.5rem 0.8rem;
    font-size: larger;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border: 1px solid white;
  }
  .launch-btn:hover {
    background-color: white;
    color: black;
  }
  .active-launc {
    background-color: white;
    color: black;
  }
  .launch {
    width: 90%;
  }
  #terminology {
    font-size: 1.1rem;
    font-weight: 200;
    /* z-index: 1; */
    color: rgba(240, 248, 255, 0.467);
  }
  .launch h1 {
    font-size: 5vh;
    font-weight: 300;
  }
  .rocket-img {
    width: 90%;
  }
  .rocket-img img {
    width: 90%;
    border-radius: 1rem;
  }
}
